---
name: CI
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
jobs:
  ci-build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
#        os: [ ubuntu-latest, windows-latest, macos-latest ]
        java: [ 8, 11, 17 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: clean build
        run: ./gradlew clean build --no-daemon --info --stacktrace
        timeout-minutes: 10
...
